body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    color: #444;
  }
  
  form { 
    width: 300px; 
    margin: 0 auto; 
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"] {
    width: 100%; 
    padding: 10px; 
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    color: #444;
    font-size: 16px;
    transition: 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px 1px #ccc;
  }
  
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3e8e41;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #444;
  }
  

  .subscribe-button {
    display: block;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 30px auto 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    
  }
  
  .subscribe-button:hover {
    background-color: #24a93c;
  }

  li{
    list-style-type: none;
  }
  
  .nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__list {
    display: flex;
  }
  
  .nav__item {
    margin-right: 20px;
  }
  
  .nav__link {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    color: #333;
    transition: color 0.3s ease-in-out;
  }
  
  .nav__link:hover {
    color: #24a93c;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle__item {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }

  a{
    text-decoration: none;
  }